// fonts
$fontFamily: "Poppins", sans-serif;
$fontSize: 18px;
$mainTitleSize: 50px;
$subtitleFontSize: 23px;

// color
$white: #ffffff;
$orange: #df4f3a;
$linearGradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0.7) 9.04%,
  rgba(0, 0, 0, 0) 43.36%
);

//transition
$transition: all 0.4s;
